body {
  font-family: Arial, sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style-type: none;
}

.gallery-item {
  flex-basis: calc(33.333% - 10px);
  list-style: none;
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: auto;
}